@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?kzq2ds');
  src:  url('fonts/icomoon.eot?kzq2ds#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?kzq2ds') format('truetype'),
    url('fonts/icomoon.woff?kzq2ds') format('woff'),
    url('fonts/icomoon.svg?kzq2ds#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-spring:before {
  content: "\e90b";
}
.icon-java:before {
  content: "\e90c";
}
.icon-code:before {
  content: "\e90d";
}
.icon-linkedin:before {
  content: "\e90e";
}
.icon-github-square:before {
  content: "\e910";
}
.icon-linkedin-square:before {
  content: "\e913";
}
.icon-object-group:before {
  content: "\e90f";
}
.icon-arrow-up:before {
  content: "\e914";
}
.icon-arrow-up-circle:before {
  content: "\e911";
}
.icon-phone:before {
  content: "\e912";
}
.icon-menu:before {
  content: "\e900";
}
.icon-close:before {
  content: "\e901";
}
.icon-cosmetic:before {
  content: "\e902";
}
.icon-trim:before {
  content: "\e903";
}
.icon-woman-hair:before {
  content: "\e904";
}
.icon-youtube:before {
  content: "\e905";
}
.icon-facebook:before {
  content: "\e906";
}
.icon-instagram:before {
  content: "\e907";
}
.icon-whatsapp:before {
  content: "\e908";
}
.icon-mail:before {
  content: "\e909";
}
.icon-map-pin:before {
  content: "\e90a";
}
